blinker==1.8.2
Bootstrap-Flask==2.4.0
click==8.1.7
-e git+https://github.com/OrthoLoess/dinghybook.git@b20cc71e555fc704b4a3fea11782243ba6a4c443#egg=dinghybook
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flask-talisman==1.1.0
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
python-dotenv==1.0.1
SQLAlchemy==2.0.30
typing_extensions==4.12.1
Werkzeug==3.0.3
WTForms==3.1.2
